body {
	background-image: url('../images/healingcrystal.jpg');	
	background-attachment: fixed;
	background-position: center: no-repeat;
	background-size: cover;
/*	padding-bottom: 200px;
*/}
.crystalpic {
	width: 200px;
	height: 200px;

}
h1 {
	font-size: 40px;
	font-family: sans-serif;
	color: navy;
	text-align: center;
	padding-top: 100px;
}
li {
	font-size: 25px;
	font-family: sans-serif;
	color: navy;
	text-align: center;
}
div {
	font-size: 25px;
	font-family: sans-serif;
	color: navy;
	text-align: center;
}