body {
	background-image: url('../images/background.png')
}
.crystalpic {
	width: 200px;
	height: 200px;
}
h1 {
	font-size: 40px;
	font-family: sans-serif;
	font-weight: lighter;
	font-width: 1.15;
	color: gray;
	text-align: center;
	font-weight: 3rem;
	text-transform: uppercase;
	padding-top: 100px;
}
li {
	font-size: 17px;
	font-family: sans-serif;
	font-weight: lighter;
	font-width: 1.15;
	color: gray;
	text-align: center;
}
div /*.instructions*/ {
	font-size: 25px;
	font-family: sans-serif;
	color: gray;
	text-align: center;
}