html {
	background: url("../images/crystalbackground1.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: left;
	margin-left: 50px;
}
.crystalpic {
	width: 200px;
	height: 200px;
}
h1 {
	color: white;
	font-size: 40px;
	font-family: sans-serif;
	font-weight: lighter;
	font-width: 1.5;
	text-align: left;
	padding-top: 70px;
}
h2 {
	color: white;
	font-size: 30px;
	font-family: sans-serif;
	font-weight: lighter;
	font-width: 1.5;
	text-align: left;
}
h3 {
	color: white;
	font-size: 20px;
	font-family: sans-serif;
	font-weight: lighter;
	font-width: 1.5;
	text-align: left;
}
li {
	color: white;
	font-size: 20px;
	font-family: sans-serif;
	font-weight: lighter;
	font-width: 1.5;
	text-align: left;
}
div {
	color: white;
	font-size: 20px;
	font-family: sans-serif;
	font-weight: lighter;
	font-width: 1.5;
	text-align: left;
}
footer {
	color: white;
	font-size: 10px;
	font-family: sans-serif;
	font-weight: lighter;
	font-width: 1.5;
	text-align: center;
}